APP_NAME=Consultas
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://consultas-api.test
APP_PORT=8080
APP_SERVICE=laravel


DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=consultas_api
DB_USERNAME=sail
DB_PASSWORD=password
FORWARD_DB_PORT=33061


MAIL_MAILER=mailgun
MAILGUN_DOMAIN=mg.consultas-frro.tk
MAILGUN_SECRET=

MAIL_FROM_ADDRESS=no-reply@api.consultas.tk
MAIL_FROM_NAME="Api Consultas"

ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@frro.utn.edu.ar
ADMIN_PASSWORD=password